:root {
    --dark-color: #00000c;
    --light-color: #dedeff;
}


body {
    font-family: "Roboto Light";
    user-select: none;
    overflow: hidden;
    background-color: var(--dark-color);
    align-content: center;
    color: var(--light-color);
}

nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin: auto;
}

nav > .text {
    transition: all 300ms;
    font-size: 5vh;
    text-align: center;
    transform: scaleX(350%) scaleY(-100%);
    text-decoration: none;
    color: var(--light-color);
    opacity: 30%;
}

nav > .text:hover {
    opacity: 45%;
    font-size: 5.5vh;
    cursor: pointer;
}

#track > .image {
    height: 40vh;
    aspect-ratio: 0.75;
    object-position: 50% 50%;
    overflow: hidden;
    object-fit: cover;
}

#track {
    z-index: 2;
    display: flex;
    gap: 3vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-15vh, -50%);
}

#selector {
    z-index: 3;
    color: var(--light-color);
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 4vmin;
    text-align: center;
    align-self:center;
}