body {
    user-select: none;
    overflow: hidden;
    background-color: #0a0a0a;
    align-content: center;
    color: #fafafa;
}

#track > .image {
    height: 40vmin;
    width: 30vmin;
    object-fit: cover;
    object-position: 50% 50%;
}

#track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    margin:auto;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}